{% extends "shop/base.html" %}
{% load static %}

{% block title %}
    {% if category %}{{ category.title }}{% else %}Products{% endif %}
{% endblock %}

{% block content %}
    <div class="product-detail">
        <img src="{% if product.image %}{{ product.image }}{% else %}{% static "img/no_image.png" %}{% endif %}"  />
        <h1>{{ product.name }}</h1>
        {{ product.description|linebreaks }}
        <h2><a href="{{ product.category.get_absolute_url }}">{{ product.category }}</a></h2>
            herbname:     {{ product.herbname }}<br><br>
            druglikeness:     {{ product.druglikeness }}<br><br>
            inchikey:     {{ product.inchikey }}<br><br>
            pubchem:    {{ product.pubchem }}<br><br>
            cass:   {{ product.cass }}


    </div>
{% endblock %}
